* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #129799;
  padding: 15px;
}

.header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: center;
  justify-content: space-evenly;
  width: 1200px;
}

a {
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(56, 56, 195);
}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-left: 100px;
  margin-bottom: 30px;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 4rem;
}

figure {
  background-image: url("./img/life.png");
  width: 38vw;
  height: 38vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffa185;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.texto {
  margin: 35px;
}

h2 {
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  padding: 20px;
}

p {
  font-family: sans-serif;
  font-size: 2rem;
  padding: 20px;
}

.containerimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin: 25px;
  padding-left: 20px;
}

.item1 {
  width: 70%;
  height: 55vh;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/img1.png");
}

.item2 {
  width: 70%;
  height: 55vh;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/img2.png");
}

.item3 {
  width: 70%;
  height: 55vh;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/img3.png");
}

.item4 {
  width: 70%;
  height: 55vh;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./img/img3.png");
  border: 5px;
}

.mais {
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  cursor: pointer;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.mais:hover {
  color: white;
}

footer {
  background-color: #129799;
  display: flex;
  justify-content: space-evenly;
}

.containerf {
  display: flex;
  width: 300px;
  padding: 25px;
}
.containerg {
  display: flex;
  flex-direction: end;
  align-items: center;
}

.rodapé {
  margin: 30px;
}
li {
  color: white;
  display: inline;
  text-align: center;
  list-style: none;
  cursor: pointer;
  margin: 20px;
}

li:hover {
  color: rgb(56, 56, 195);
}

.face {
  width: 4vw;
  height: 8vh;
  background-image: url("./img/face.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.instagran {
  width: 4vw;
  height: 8vh;
  background-image: url("./img/insta.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

.pinterest {
  width: 4vw;
  height: 8vh;
  background-image: url("./img/pinterest.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
.linkedin {
  width: 4vw;
  height: 8vh;
  background-image: url("./img/linkedin.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
